/* 
font-family: 'Permanent Marker', cursive;
font-family: 'Enriqueta', serif;
font-family: 'Ubuntu', sans-serif; 
*/

body {
    background-image: url(images/hamilton-background.jpg);
    background-size: cover;
    background-attachment: fixed;

}

/* .section-eb {
    background-color: bisque;
    opacity: 0.5;
} */

.title-eb {
    width: 300px;
}

.title-text-eb {
    font-family: 'Enriqueta', serif;
}

h1 {
    color: white;
}

.button-container-eb {
    border-top: 2px solid black;
}

.display-hidden-eb {
    display: none;
}

.display-visible-eb {
    display: block;
}

.para-eb {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 18px;
}

.span-eb {
    border: 2px solid black;
    font-family: 'Enriqueta', serif;
    background: #ffffff50;
}

.button-text-eb {
    font-size: 14px;
}


/* .puzzle-eb {

} */

/* C:\Users\ebaumgar\Desktop\Columbia\Word-Guess\style.css */