/* 
font-family: 'Permanent Marker', cursive;
font-family: 'Enriqueta', serif;
font-family: 'Ubuntu', sans-serif; 
font-family: 'Marck Script', cursive;
*/

body {
    background-image: url(images/hamilton-background.jpg);
    background-size: cover;
    background-attachment: fixed;

}


.title-eb {
    width: 400px;
}

.title-text-eb {
    font-family: 'Enriqueta', serif;
}

h1 {
    color: #fff;
    font-size: 60px;
}


.button-container-eb {
    border-top: 2px solid #000000;
}

.display-hidden-eb {
    display: none;
}

.display-visible-eb {
    display: block;
}

.para-eb {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 24px;
}

.instruct-eb {
    color: #000000;
    text-emphasis: bold;
    font-size: 24px;
}

.span-eb {
    border: 4px solid #000000;
    font-family: 'Enriqueta', serif;
    background: #ffffff50;
}

.shadow-lg {
    /* color: wheat; */
}

.button-text-eb {
    font-size: 14px;
}

.card-body {
    padding: .5rem;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

.card {
    background-color: #ffffff90;
    border: 2px solid #fff;
}

.stong-eb {
    color: black;
}

.tenWins {
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    background-color: #55311390;
    color: #fff;
}


